<ion-header>
  <ion-navbar color="primary">
    <ion-title>Photos de Villes</ion-title>
    <button ion-button="" menuToggle="">
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div>
    <ion-input type="text" [(ngModel)]="ville" placeholder="Ville Recherchée"></ion-input>
    <button ion-button="" block (click)="onRecherche()">Rechercher des Photos</button>
  </div>
  <ion-card *ngFor="let unePhoto of photos?.hits">
    <ion-card-header class="myCardHeader">{{unePhoto.tags}}</ion-card-header>
    <ion-card-content padding="">
      <img src="{{unePhoto.previewURL}}" (click)="onDetailImage(unePhoto)">
    </ion-card-content>
  </ion-card>
</ion-content>