<ion-header>
  <ion-navbar color="primary">
    <ion-title>Détail Photo</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <img padding="" src="{{photo?.webformatURL}}" (click)="onZoom()">
</ion-content>