
<ion-header>
  <ion-navbar>
    <ion-title> {{ poi.titre }} - Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-label>{{ poi.titre }}</ion-label>
  <ion-label>{{ poi.pays }}</ion-label>
  <ion-label>{{ poi.ville }}</ion-label>
  <ion-label>{{ poi.motsCles }}</ion-label>
  <button ion-button="" (click)="supprimerPoi()">Supprimer {{ poi.titre }}</button>
</ion-content>
