<!--
  Generated template for the PoiPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Points Of Interest</ion-title>
    <button ion-button menuToggle="" icon-left="">
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end="" icon-only="">
      <button ion-button="" (click)="onNewPoi()">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-list-header>
      Liste des POIs
    </ion-list-header>
    <ion-item *ngFor="let poi of pois">
        <ion-label>
          <button ion-button="" (click)="poiDetails(poi)">{{ poi.titre }}</button>
        </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
