<!--
  Generated template for the PoiFormulairePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>POI - Formulaire</ion-title>
    <button ion-button menuToggle="" icon-left="">
        <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-content padding>
      <form #poiForm="ngForm" (ngSubmit)="onAddPoi(poiForm.value)">
        <ion-item>
          <ion-input type="text" name="titre" ngModel required="" placeholder="Titre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" name="pays" ngModel placeholder="Pays"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" name="ville" ngModel placeholder="Ville"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" name="motsCles" ngModel placeholder="Mots Clés"></ion-input>
        </ion-item>
        <button ion-button="" block="" type="submit">Enregistrer le Poi</button>
      </form>
    </ion-content>
</ion-content>
