<ion-header>
  <ion-navbar color="primary">
    <ion-title>Accueil</ion-title>
    <button ion-button menuToggle="" icon-left="">
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-card *ngIf="user">
    <ion-card-header class="myCardHeader" text-uppercase="">{{user.nom}}</ion-card-header>
    <ion-card-content>
      <img src="{{user.photo}}">
      <ion-card>
        <ion-card-header class="myCardHeader">
          <ion-icon name="mail"></ion-icon> 
          Contact Test
        </ion-card-header>
        <ion-card-content>
          <p text-sm-capitalize="" *ngFor="let unMail of user.mails">{{unMail}}</p>
        </ion-card-content>
      </ion-card>
    </ion-card-content>
  </ion-card>
  <p *ngIf="!user">Utilisateur Anonyme</p>
</ion-content>
