<ion-menu [content]="content">
    <ion-header>
        <ion-navbar color="primary">
            <ion-title>Menu</ion-title>
        </ion-navbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <button ion-item="" *ngFor="let menuItem of menus" (click)="onPage(menuItem)" menuClose="">
                {{menuItem.titre}}
            </button>
        </ion-list>
    </ion-content>
</ion-menu>
<ion-nav #content [root]="rootPage"></ion-nav>
